html
	head
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='bootstrap/js/bootstrap.min.js')

	
	link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	div#wrap
		div.container
			include includes/header.jade
			
			body
				center
					h1 #{title}
				p Index body par
	include includes/footer