body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}
.container1{
	position:relative;
	text-align:left;
}
.container1 li{
	text-decoration:none;
	margin:10px;
	float: none;
	display: table-cell;
	text-align:center;
}
.container1 li a:hover{
	background:url('../images/nav-hover-right.png') no-repeat center right;
	background-size:100% 100%;
}
.navbar .nav1{
position: relative;
width: 100%;
display: table;
float: left;
margin: 10px 10px 0 0;
}
.navbar .nav1 > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #555555;
text-decoration: none;
background-color: #e5e5e5;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav1 > li > a {
float: none;
padding: 10px 15px 10px;
color: #777777;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
}
.app{
	margin-top:10px;
	margin-bottom:10px;
	height:auto;
}
.apptitle{
	position:relative;
	float:left;
	width:100%;
}
.appinfo-desc{
	position:relative;
	float:left;
	width:280px;
	padding:10px;
}
.appinfo-pic{
	position:relative;
	float:left;
	width:620px;
	padding:10px;
	
}
.appinfo-pic img{
	width:100%;
}
.apptitle-small{
	width:280px;
	float:left;
	padding:20px 10px 20px 10px;
}
.apptitle1{
	position:relative;
	float:right;
	width:100%;
}
.appinfo-desc1{
	position:relative;
	float:right;
	width:280px;
	padding:10px;
}
.appinfo-pic1{
	position:relative;
	float:right;
	width:620px;
	padding:10px;	
}
.apptitle-small1{
	width:280px;
	float:right;
	padding:20px 10px 20px 10px;
}
.appinfo-pic1 img{
	width:100%;
}
#footer{
	margin-top:100px;
}
a:hover{
	background-image:('/images/sppechbubble.png');
}